# IDE
.idea
**/.idea
.vs-code
**/.vs-code

# MacOS files
.DS_STORE
**/.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Python environment
venv/
__pycache__
**/__pycache__
